<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.com.manager" >

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".frame.ManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".frame.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frame.FrameActivity"
            android:label="@string/title_activity_frame" />
        <activity
            android:name=".recipes.RecipesActivity"
            android:label="@string/title_activity_recipes" />
        <activity
            android:name=".train.TrainActivity"
            android:label="@string/title_activity_train" />
        <activity
            android:name=".note.NoteActivity"
            android:label="@string/title_activity_note" />
        <activity android:name=".note.RemindNoteActivity" />
        <activity
            android:name=".accounting.AccountingActivity"
            android:label="@string/title_activity_accounting" />

        <!-- 高德地图api -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="50a2d496d355c6e393f8cae5d6ad384f" />

        <receiver android:name=".frame.TimeReceiver" >
            <intent-filter>
                <action android:name="org.com.manager.note.TimeReceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".weather.WeatherForecastActivity"
            android:label="@string/title_activity_weather_forecast" />
        <activity
            android:name=".note.NoteEditActivity"
            android:label="@string/title_activity_note_edit" />
        <activity
            android:name=".frame.MyRemindActivity"
            android:label="@string/title_activity_my_remind"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".accounting.ConsumeEditActivity"
            android:label="@string/title_activity_consume_edit" />
        <activity
            android:name=".recipes.FlagActivity"
            android:label="@string/title_activity_flag" />
        <activity android:name=".recipes.RecipesDetailActivity" />
        <activity android:name=".recipes.CollectionActivity" />
        <activity android:name=".recipes.SearchActivity" />
        <activity android:name=".train.StationSearchActivity" />
        <activity android:name=".train.StationSearchResultActivity" />
        <activity android:name=".train.TrainDetailActivity" />
    </application>

</manifest>
